.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bfe151;
}
.cadastro {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    font-weight: 700;
    gap: 1rem;
}
.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input {
    outline: none;
    border: none;
    border-bottom: 2px solid #042940;
    background-color: transparent;
    font-size: 1rem;
    color: #042940;
    font-weight: 600;
    padding-bottom: 0.5rem;
}
.input::placeholder {
    color: #04294093;
}
label {
    color: #042940;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.input-btn {
    border: 2px solid #042940;
    color: #9fc131;
    margin-top: 2rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #042940;
    padding: 10px;
    cursor: pointer;
}
h1 {
    text-align: center;
    color: #042940;
}
.error {
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ad0808;
}