.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-bottom: solid 3px #042940;
    margin: 1rem;
}
.left{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1rem;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 2rem;
    color: #042940;
    gap: 1rem;
}
.text{
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #042940;
    margin: 3rem;
}
.img {
    height: auto;
    width: 200px;
}
.finalizar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.btn-finalizar{
    background-color: #042940;
    width: 100%;
    padding: 1rem;
    color: #9fc131;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.btn-finalizar:hover {
    color: #758d24;
    transition: all 0.3s ease-in-out;
}