.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sideNav {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-start;
    justify-content: center;
    background-color: #042940;
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    height: 50%;
}
.sideNav input {
    cursor: pointer;
    margin: 1rem;
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #9fc131;
    background-color: transparent;
    outline: none;
    border: none;
}
.sideNav input:hover {
    text-decoration: solid underline #9fc131;
}
.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.icon {
    color: #9fc131;
}
.info-dados {
    border-radius: 20px;
    background-color: #042940;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    display: none;
}
.toggle{
    display: flex;
}
.input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
}
.input {
    outline: none;
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #9fc131;
    border: none;
    border-bottom: 2px solid #9fc131;
    background-color: transparent;
}
label {
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #9fc131;
    margin: 0 1rem;
}
.input-add {
    border-radius: 30px;
    outline: none;
    margin: 2rem 0;
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
    background-color: transparent;
    color: #9fc131;
    border: 2px solid #9fc131;
    cursor: pointer;
}
.input-add:hover {
    background-color: #0000003f;
    transition: all 0.5s ease-in-out;
}
.tabela-dados {
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border-collapse: collapse;
    width: 100%;
}
.tabela-dados td,
.tabela-dados th {
    border: 2px solid #9fc131;
    padding: 1rem;
}
.tabela-dados th {
    font-weight: 700;
    color: #9fc131;
}
.error {
    font-family: Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ad0808;
}